html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',"メイリオ", sans-serif;
  font-size: 16px;
}

header, section {
  margin: 0;
  padding: 0;
  background: linear-gradient(#ffffff, #f3f3f3);
}

header {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header h1 {
  margin: 0;
}

header h1 img {
  width: 80%;
  padding: 50px 10% 10px;
}

header .catch-phrase {
  text-align: center;
  font-size: 1.2rem;
}

header .screen-shot {
  width: 100%;
  height: 100%;
  background-image: url("../images/screen-shot.png");
  background-size: 180% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

header .release {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  padding: 12px 0;
}