html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #333333;
  font-family: "Helvetica Neue", 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',"メイリオ", sans-serif;
}

section {
  background: #fafafa;
  height: 100%;
  margin: 0 auto;
  max-width: 500px;
  position: relative;
}

.logo {
  margin: 0 auto;
  padding: 40px 0;
  width: 70%;
}

.logo img {
  width: 100%;
}

.description {
  margin: 0 15%;
  line-height: 34px;
  font-size: 14px;
  text-align: justify;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.room-key {
  margin-top: 5px;
  font-size: 12px;
}

.app-button {
  display: block;
  text-decoration: none;
  background-color: #006e60;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  width: 70%;
  padding: 15px 0;
  margin: 0 auto 20px;
  font-size: 20px;
}

.apps {
  margin: 5px 10px;
}

.app {
  display: inline-block;
  width: 48%;
  padding: 1%;
}

.app img {
  width: 100%;
}